<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% include 'header.html' %}
  <div>
    <video src="{% static 'video/ney.mp4' %}" width="100%"  autoplay style="padding-top: 0.3%;">
  </div>
  <h2 style="font-family: Arial, Helvetica, sans-serif;" align="center"><b>FIND YOUR NEXT FOOTBALL BOOT</b></h2>
  <div>
    <img src="{% static 'images/puma06.png' %}" alt="" width="100%">
  </div>
</body>
</html>
