<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  {% include 'header.html' %}
  <img src="{% static '/images/puma03.png' %}" alt="" width="100%">
  <img src="{% static '/images/puma7.png' %}" alt="" width="100%">
  <img src="{% static '/images/puma8.png' %}" alt="" width="100%">
  <img src="{% static '/images/puma9.png' %}" alt="" width="100%">
  <img src="{% static '/images/puma10.png' %}" alt="" width="100%">

</body>
</html>